<br>
<div class="yui3-g">
  <div class='form-group'>
    <%= f.input :zipcode, class: "form-control" %>
  </div>

  <div class='form-group'>
    <%= f.input :street, class: "form-control" %>
  </div>

  <div class="yui3-u-3-8">
    <%= f.input :complement, class: "form-control" %>
  </div>
</div>

<div class="yui3-g">
  <div class='form-group'>
    <%= f.input :neighborhood, class: "form-control" %>
  </div>

  <div class='form-group'>
    <%= f.input :city , class: "form-control" %>
  </div>

  <div class='form-group'>
    <%= f.input :uf, class: "form-control" %>
  </div>

  <div class='form-group' style="width: 29%">
    <%= f.input :ibge_code, class: "form-control" %>
  </div>
</div>

